.App {
  text-align: center;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TodoForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.todo-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo-btn {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-btn:hover {
  background-color: #218838;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
}

.Todo p {
  margin: 0;
}

.Todo div {
  display: flex;
  align-items: center;
}
