*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #8758ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #fff;
  margin-bottom: 0.9rem;
  font-size: 1.75rem;

}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.todo-input {
  
  padding: 10px;
  margin-bottom: 11px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #1A1A40;
  color: white;
}

.todo-btn {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-btn:hover {
  background-color: #218838;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#8758ff ;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
  color: white;
  
}

.Todo p {
  margin: 0;
}

.Todo div {
  display: flex;
  align-items: center;
}

.Todo:hover {
  transform: translateY(-0.5px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}

